@charset "utf-8";

/* ------------------------------------------全体に対する指定-------------------------- */
html {
    /* overflow: hidden; */
}

body {
    color: #fff;
    background-color: #FCD037;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    line-height: 2;/*要素のフォントサイズに「2」をかけた高さの行間になる*/
    letter-spacing: 0.06em;/*文字間隔指定で文字の6%の感覚を付与する*/
}

li {
    list-style: none;/*箇条書きの点をなくす*/
}

a {
    text-decoration: none;/*リンクの青くするのを消している*/
}
/* ------------------------------------------ページのヘッダーエリア-------------------------- */
.title-logo img {
    width: 64px;
    height: 98px;
}

.header-icon img {
    width: 40px;
    height: 40px;
}

#header {
    width: 100%;/*親要素の幅を100%としてどのくらいの幅を取るか指定できる*/
    display: flex;/*フレキシブルボックス化する*/
    justify-content: space-between;/*フレックスアイテムを要素の両端に寄せる*/
    align-items: center;/*フレックスアイテムを縦軸で見た時に上下のどこで揃えるか.この場合は上下中央*/
    padding: 8px 40px;
    position: fixed;/*スクロールしてもその場所に固定される*/
    z-index: 1;/*z-indexで指定した数が"大きい"ほど手前に重なる*/
}
/* ------------------------------------------トップの黄色いエリア-------------------------- */
.top-visual {
    padding: 64px 4.26% 0;/*親要素を100%とした時の％で内側余白を指定することができる*/
}

.top-visual-contents {
    max-width: 480px;/*要素がこれ以上大きくならない幅*/
    margin: auto;/*左右のautoは両側から離れたがるので左右中央になる 上下には効かない　widthを指定しなければならない*/
}


.top-visual-contents-block {
    position: relative;/*illustを絶対値で場所指定するため*/
}

.top-illust {
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;/*初期位置から数えて　左に0 右に０　上に20pxの位置に置かれる*/
    margin: auto;/*左右のautoは両側から離れたがるので左右中央になる 上下には効かない　widthを指定しなければならない*/
    z-index: 1;
}

.top-illust img {
    margin: auto;/*左右のautoは両側から離れたがるので左右中央になる 上下には効かない　widthを指定しなければならない*/
}

.top-photo {
    padding: 72px 2.13% 0;/*親要素を100%とした時の％で内側余白を指定することができる*/
}
.top-photo img {
    position: relative;
    width: 460px;
    height: 681px;
}


.character {
    display: flex;/*フレキシブルボックス化する*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;/*初期位置から数えて四方とも0の位置に置かれる*/
    margin: auto;/*左右のautoは両側から離れたがるので左右中央になる 上下には効かない　widthを指定しなければならない*/
    justify-content: space-between;/*flexボックス内のアイテムを要素の両端揃いにする*/
    align-items: center;/*flexアイテムを上下で見た時に上下のどの位置に配置するかを指定する　この場合はセンター*/
}
.character li {
    width: 72px;
}
.character img {
    position: relative;
    width: 100%;
}

/* ------------------------------------------真ん中のギザギザ赤いエリア-------------------------- */
.about::before {
    content: "";/*content: "";を入れないと認識されない*/
    background: url("../images/line-red.png") repeat-x center top;/*repeatで要素より画像の方が小さい時繰り返し処置を行うがrepeat-xでx軸方向（横）に繰り返し表示を行う*/
    height: 40px;
    width: 100%;
    background-size: contain;/*元画像の縦横比は保持して要素に全て収まるように調整*/
    position: absolute;
    top: -30px;/*こうしないとpadding64pxと「ばくてーとは？」の間に生成される*/
    z-index: -1;
}


.about {
    background: #e9503a;
    color: #fff;
    padding: 64px 0;
    position: relative;/*左右のアニメーションがposition: absolute;を使用するため */
}


.about-description {

}

.description-title {
    font-size: 30px;
    text-align: center;/* textをその要素の水平方向の中央に配置できる*/
}

.description-text {
    text-align: center;/* textをその要素の水平方向の中央に配置できる*/
    padding-top: 40px;
    margin-bottom: 40px;
}

.about-image {
}

.about-image img {
    max-width: 640px;
    display: block;
    margin: 0 auto;/*要素内の左右中央になる widthが指定されている*/
}

.about-instagram {

}
.about-instagram img {
    display: block;
    width: 96px;
    margin-left: auto;/*要素の左端から限りなく離れる*/
    margin-right: 240px;/*限りなく離れたところから右から240pxの位置に来る*/
}
.about-flow-character-left {
    background-image: url(../images/text-bakkutteh-yellow.svg);
    background-size: auto;/*元画像の大きさのまま表示*/
    background-repeat: repeat-y;/*繰り返し表示としてy軸方向（縦）に繰り返させる*/
    position: absolute;
    top: -40px;/*初期位置から上に40pxの位置に配置される*/
    height: 110%;
    width: 32px;
    /*アニメーション処理*/
    animation-name: bgAnimLeft;/*@keyframesによって定義されているanimationを指定している*/
    animation-duration: 20s;/*一回のアニメーションが終了するまでの所要時間を指定する*/
    animation-timing-function: linear;/*アニメーションが周期間どのように進行するのかを指定する　この場合直線運動を行う　linear=直線的*/
    animation-iteration-count: infinite;/*アニメーションを何周期させるのかを定義する　今回の場合無制限に繰り返す infinite=無限*/
}

.about-flow-character-left::before {
    content: "";/*このコンテンツを入れないと発火しない*/
    width: 2px;/*2pxの幅のものができる*/
    background-color: #fcd037;
    position: absolute;
    left: 40px;/*絶対値で左から40pxの位置に配置する*/
    height: 100%;
}

@keyframes bgAnimLeft {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 0px 1200px;
    }
}

.about-flow-character-right {
    margin-right: calc(-50% - 26px);/*これは*/
    background-image: url(../images/text-bakkutteh-yellow.svg);
    background-size: auto;
    background-repeat: repeat-y;
    position: absolute;
    right: 51%;
    top: -40px;
    height: 110%;
    width: 32px;
    animation-name: bgAnimRight;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.about-flow-character-right::before {
    content: "";
    width: 2px;
    background-color: #fcd037;
    position: absolute;
    height: 100%;
    right: 40px;
}

@keyframes bgAnimRight {
    0%{
        background-position: 0% 1200px;
    }
    100%{
        background-position: 0px 0px;
    }
}

/* -------------------------------ショップ紹介エリア----------------------------------------- */
.store {
    background-color: #fcd037;
    color: #e9503a;
    padding: 80px 0;
    position: relative;
}

.store::before{
    background: url(../images/line-yellow.png) center top;
    content: "";
    display: block;
    position: absolute;
    top: -20px;/*初期位置から上に20pxの位置に配置する*/
    height: 40px;
    width: 100%;/*親要素を100%とした時の横幅率*/
    background-size: contain;/*元の画像の縦横比を変えずに要素内にはめ込む*/
}

.store-visual {
    max-width: 400px;
    margin: auto;
}

.store-visual-character {
    width: 160px;
    margin: 0 auto -24px;
}

.store-visual-character img {
    position: relative;
    z-index: 1;
}

.store-visual-area {
    position: relative;
}
.store-visual-area-img {
    
}

.store-visual-area-img img {
    position: relative;
    width: 400px;
    vertical-align: bottom;
    /* z-index: 4; */
}

.store-visual-area-title {
    width: 400px;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 25.6px;
    /* z-index: 5; */
}
.m-anime-shop.is-active {
    opacity: 1;
}

.m-anime-shop__path {
    stroke: #e9503a;
    stroke-width: 2;
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
}

.m-anime-shop.is-active .m-anime-shop__path {
    animation-name: anime_shop;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}

@keyframes anime_shop {
    0% {
      stroke-dashoffset: 2000;
      fill: transparent;
    }
    40% {
      stroke-dashoffset: 2000;
      fill: transparent;
    }
    50% {
      fill: transparent;
    }
    100% {
      stroke-dashoffset: 0;
      fill: #fcd037;
    }
  }

/* ---------ショップ情報エリア--------- */
.store-infomation {
    width: 400px;
    margin: auto;
}

.store-infomation-title {
    margin-bottom: 16px;
    text-align: center;

}

.store-infomation-title img {
    width: 172px;
    height: 16px;
}

.store-infomation-text {
    margin-bottom: 24px;
    font-weight: 900;
}

.store-infomation-text li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.store-infomation-text-title {
    width: 80px;
}

.store-infomation-text-content {

}

.store-infomation-access-button {
    width: 124px;
    margin: auto;
}

/* -------------------------------------mainのフッダーエリア-------------------------------- */

.footer-visual {
    padding-bottom: 80px;
}

.footer-visual-contents {
    max-width: 400px;
    margin: auto;
}

.footer-visual-contents-illust {
    width: 240px;
    margin: auto;
}

.footer-visual-contents-logo {
    width: 280px;
    margin: auto;
}

/* -------------------------------------ページのフッダーエリア-------------------------------- */


footer {
    background-color: #e9503a;
    color: #fff;
    padding: 20px 0 40px;
    position: relative;
}

footer::before {
    background: url(../images/line-red.png);
    background-size: contain;
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    width: 100%;
    height: 40px;

}
.footer-contents {


}

.footer-copyright {
    text-align: center;
    font-size: 12px;
}

@media (max-width: 900px) {
    body {
        font-size: 13px;
        letter-spacing: 0.08em;
        width: auto;
    }

    #header {
        padding: 8px 16px 0;
        width: 100%;
    }

    .title-logo {
        height: 49px;
    }
    .title-logo img {
        width: 32px;
        height: 49px;
    }

    .header-icon {
        width: 28px;
        height: 28px;
    }

    .header-icon a {
        display: block;
        height: 100%;
        width: 100%;
    }
    .header-icon img {
        height: 100%;
        width: 100%;
    }

    .top-illust {
        width: 240px;
    }
    .top-illust img {
        width: 100%;
    }

    .top-photo {
        padding: 72px 7.3px 0;
    }
    .top-photo img {
        width: 100%;
        height: auto;
    }

    .character li {
        width: 56px;
    }

    .hidden-sm {
        display: none !important;
    }

    .about::before {
        position: absolute;
        top: -20px;
    }

    .about-image {
        width: 140%;
        margin-left: -20%;
    }

    .about-image img {
        width: 525px;
        height: 517.305px;
    }

    .description-text {
        padding: 40px  56px;
        text-align: start;
    }
    .about-instagram {
        width: 96px;
        margin-right: 40px;
        margin-left: auto;
    }

    .about-flow-character-right {
        right: 55%;
    }

    .store-visual {
        padding: 0 4.26%;
    }

    .store-visual-character {
        width: 160px;
        margin: 0 auto -24px;
    }

    .store-visual-area-img img {
        width: 100%;
    }

    .store-visual-area-title {
        width: 100%;
        padding: 0 6.4%;
    }

    .container {
        overflow: hidden;
    }

    .store-infomation {
        width: 100%;
        padding: 0 4.26%;
    }

    .store-infomation-title {
        margin-bottom: 0;
        margin-top: 15px;
    }
    .store-infomation-title img{
        height: 12px;
    }

    .store-infomation-text-title {
        width: 23.3%;
    }

    .store-infomation-text-content {
        width: 76.7%;
    }

    .store-infomation-text-title a {
        color: #fff;
        text-decoration: none;
    }
    .footer-visual {
        padding-bottom: 71.5px;
    }

    .footer-visual-contents-illust {
        margin-bottom: 31.5px;
    }

    .footer-copyright {
        font-size: 12px;
        line-height: 1;
    }
}
